.vanilla-ui {
    --primary-color: #F2EFEB;
    --secondary-color: #e7f2f9;
    --button-color: #F2EFEB;
    --button-text-color: #2c3e50;
    --title-font-family: 'Patrick Hand', cursive;
    --font-family: 'Patrick Hand', cursive;
    --serious-font-family: 'Patrick Hand', cursive;
    --card-background: #ffffff;
    --pillar-background: #F2EFEB;
    --common-text-color: #2c3e50;
    --prompt-box-color: #F2EFEB;
    --bubble-text-color: #2c3e50;

    --link-color: #4481ba;
    --link-visited-color: #576574;
    --link-hover-color: #0b4c88;
    --link-active-color: #4A5764;

    transition: 
        --primary-color var(--transition-duration) ease,
        --secondary-color var(--transition-duration) ease,
        --button-color var(--transition-duration) ease,
        --button-text-color var(--transition-duration) ease,
        --font-family var(--transition-duration) ease,
        --pillar-background var(--transition-duration) ease;
}
  
.pirate-ui {
    --primary-color: #333333;
    --secondary-color: #D2B48C; 
    --button-color: #333333;
    --button-text-color: #ffffff;
    --title-font-family: 'Pirata One', cursive;
    --font-family: 'IM Fell English SC', serif;
    --serious-font-family: 'Patrick Hand', cursive;
    --pillar-background: #D2B48C;
    --card-background: #4A301F;
    --common-text-color: #FFFFFF;
    --prompt-box-color: #333333;
    --bubble-text-color: #ffffff;

    --link-color: #D2B48C;
    --link-visited-color: #CCCCCC;
    --link-hover-color: #FFFFFF;
    --link-active-color: #87CEFA;

    transition:
        --primary-color var(--transition-duration) ease,
        --secondary-color var(--transition-duration) ease,
        --button-color var(--transition-duration) ease,
        --button-text-color var(--transition-duration) ease,
        --font-family var(--transition-duration) ease,
        --pillar-background var(--transition-duration) ease;
}

body {
    font-family: var(--font-family);
    background-color: var(--card-background);
    color: var(--common-text-color);
    transition: 
        background-color var(--transition-duration) ease, 
        color var(--transition-duration) ease, 
        font-family var(--transition-duration) ease;
}

.prompt-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid var(--primary-color);
    border-radius: var(--common-border-radius);
    transition: border-color var(--transition-duration) ease;
}

.prompt-button {
    padding: 10px 15px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: var(--common-border-radius);
    cursor: pointer;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


a {
    color: var(--link-color);
    transition: color var(--transition-duration) ease;
}

a:visited {
    color: var(--link-visited-color) !important;
}

a:active {
    color: var(--link-active-color) !important;
}

a:hover {
    color: var(--link-hover-color) !important;
}

b {
    font-weight: bolder;
}